/*  ROOT start */
@import url(fonts.css);

:root {
    --f100: 'Raleway-Thin';
    --f300: 'Raleway-Light';
    --f400: 'Raleway-Regular';
    --f700: 'Raleway-Bold';
    --f900: 'Raleway-Black';
    --green: #69cf17;
    --white: #ffffff;
    --grey: #7a7a7a;
    --dark: black;
    --logo_dark: #4e9f0d;
    --green_75: rgba(106, 207, 23, 0.75);
    --green_90: rgba(106, 207, 23, 0.75);
    --dark: rgba(30, 30, 30, 0.15);
    --linear: linear-gradient(to bottom, #080503, #172406);
    --col-1: calc(100% /12);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--f400);
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 -15px;
}

.col-1 {
    width: var(--col-1);
    padding: 0 15px;
}

.col-2 {
    width: var(--col-2);
    padding: 0 15px;
}

.col-3 {
    width: var(--col-3);
    padding: 0 15px;
}

.col-4 {
    width: var(--col-4);
    padding: 0 15px;
}

.col-5 {
    width: var(--col-5);
    padding: 0 15px;
}

.col-6 {
    width: var(--col-6);
    padding: 0 15px;
}

.col-7 {
    width: var(--col-7);
    padding: 0 15px;
}

.col-8 {
    width: var(--col-8);
    padding: 0 15px;
}

.col-9 {
    width: var(--col-9);
    padding: 0 15px;
}

.col-10 {
    width: var(--col-10);
    padding: 0 15px;
}

.col-11 {
    width: var(--col-11);
    padding: 0 15px;
}

.col-12 {
    width: var(--col-12);
    padding: 0 15px;
}

.col {
    max-width: max-content;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.min-vh-100 {
    min-height: 100vh;
}

body,
html {
    scroll-behavior: smooth;
}

.logo {
    color: var(--white);
    background-color: var(--logo_dark);
    padding: 8px 18px;
    border: 2px solid var(--green);
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 3px 3px 5px 0 var(--dark) inset;
    font-family: var(--f700);
}


/* ROOT end  */
/* ***************************** */
/* HEADER start */


/* HEADER  end */
/* *********************************** */
/* MAIN start */



/* MAIN end */
/* ********************************* */
/* FOOTER start */


/* FOOTER  end*/
/* *************************** */
/* MEDIA start */



/* MEDIA end */
/* **************************** */